*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
.container{
  text-align: center;
}
.magic-button{
 background: black;
  color: white;
  border: 5px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.magic-button::before,
.magic-button::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
.magic-button:hover{
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}